.wrapper {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.counts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;

  width: 100%;
  gap: 1rem;
}

.totalCount {
  --totalCountPercent: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  margin: 0 auto;
  width: 100%;
  height: 30px;

  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text);

  span {
    position: relative;
    z-index: 3;

    font-size: 1.25rem;
    font-weight: bold;

    margin-left: 1rem;
  }
}

.totalCount::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--accent);

  animation: fill 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  max-width: var(--totalCountPercent);
  height: 100%;
}

@keyframes fill {
  0% {
    width: 0%;
  }

  100% {
    width: var(--totalCountPercent);
  }
}
