.wrapper {
  position: relative;

  width: 60px;
  aspect-ratio: 2 / 2.5;

  background-color: rgba(255, 255, 255, 0.1);
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  width: 100%;
  height: calc(100% - 0.25rem);
  padding-bottom: 0.25rem;

  justify-content: flex-end;
  align-items: center;

  font-weight: 900;
  font-size: 1.25rem;

  color: var(--text);
  z-index: 2;
}

.loader,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--text);
  font-size: 2rem;
}

.loader {
  animation: infinite 2s linear spinner;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.expanded {
  font-size: 0.7rem;
  text-align: center;

  gap: 0.25rem;

  span:first-child {
    position: relative;
    line-height: 1.25em;
  }

  span:first-child::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: white;
    width: 100%;
    height: 1px;
  }

  span:nth-child(2) {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 2em;
  }
}

.progress {
  position: absolute;

  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: var(--accent);

  animation: progress 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes progress {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}
