.wrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  padding: 2rem;
  overflow-y: scroll;
  flex: 1;

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1.5rem;
    margin-bottom: 0.5rem;

    svg {
      font-size: 1.2rem;
    }
  }
}

.header {
  display: flex;
  gap: 1rem;
  width: 100%;

  font-size: 0.8rem;
  font-weight: 600;

  margin-bottom: 0.5rem;

  & span:first-child {
    color: var(--accent);
  }
}

.rarity {
  font-weight: 500;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin-block: 1rem;

  img {
    width: 80%;
    border-radius: 0.5rem;
  }
}

.fetching {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}
