.card {
  position: relative;

  width: 100%;
  height: 100%;

  img {
    width: 100%;

    border-radius: 5px;
  }
}

.count {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 -10px -10px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: var(--accent);
  border-radius: 50%;

  font-weight: 800;
  font-size: 0.8rem;
}

.id {
  position: absolute;
  top: 0;
  left: 0;
  margin: -10px 0 0 0;

  background-color: var(--accent);
  border-radius: 5px;

  font-weight: 800;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}

.activity {
  background-color: #3a3a3a;
  width: 100%;
  aspect-ratio: 155 / 228.77;
  border-radius: 5px;

  filter: brightness(1);
  -webkit-filter: brightness(1);
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }
  50% {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
  }
  100% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }
}

.missing {
  background-color: #3a3a3a;
  width: 100%;
  aspect-ratio: 155 / 228.77;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 800;
}
